@functions{
    string usernavBan = ZoomLa.Components.SiteConfig.UserConfig.UserNavBan;
    public bool IsShowNav(string nav)
    {
        if (string.IsNullOrEmpty(usernavBan)) { return true; }
        else { return !usernavBan.Contains(nav); }
    }
 }
@{
   ZoomLa.Model.M_UserInfo mu=new ZoomLa.BLL.B_User().GetLogin();
}
<div class="home_nav" id="home_nav">
<nav class="navbar navbar-default">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="@MvcHtmlString.Create(Call.GetLabel("{$CssDir/}"))images/logo.svg" alt="{$SiteName/}" /></a>
<div class="home_logo_text"><span class="site_span">上海</span> <span class="site_ch">[切换城市]<span class="caret"></span></span></div>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="/default.aspx">主页</a></li>
<li><a href="/Class_6/NodePage.aspx">我的</a></li>
<li><a href="/Class_1/Default.aspx">邂逅</a></li>
<li><a href="/Class_2/Default.aspx">互动</a></li>
<li><a href="/user/Message/Message">消息</a></li>
<li><a href="/Class_9/NodePage.aspx">搜索发现</a></li>
<li><a href="/Class_3/Default.aspx">红娘</a></li>
<!--<li><a href="/Class_4/Default.aspx">线下俱乐部</a></li>-->
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</div>
<!--头部结束-->